<div class="flex justify-between items-center mb-6">
  <h4 class="font-bold text-2xl"></h4>
  <button type="button" (click)="openModel()"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-full px-6 py-3 text-center mb-2 ">Add
    Employee</button>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <caption
      class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
      Manage Employees
    </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          Email
        </th>
        <th scope="col" class="px-6 py-3">
          Mobile
        </th>
        <th scope="col" class="px-6 py-3">
          DOB
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          John Martin
        </th>
        <td class="px-6 py-4">
          john&#64;gmail.com
        </td>
        <td class="px-6 py-4">
          5489562356
        </td>
        <td class="px-6 py-4">
          27-10-1992
        </td>
        <td class="px-6 py-4 text-right">
          <button type="button" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-4">Edit</button>
          <button type="button" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<app-model [isOpen]="isModelOpen" (closeModel)="closeModel()">
  <app-employee-form (onCloseModel)="closeModel()"></app-employee-form>
</app-model>