@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-toastr/toastr";
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  @apply bg-slate-50;
}

@layer components {
  .form-control {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  .form-error {
    @apply text-red-600 text-sm mt-1;
  }
}
